{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
<!-- <link rel="stylesheet"   href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" > -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ワン!だふるらん!!  マイページ</title>
</head>
<body>
<main>
  <!-- プロフィール -->
<section id="profile">

    <div class="profile_title">
        <h1>🐾 My Page</h1>
        <a href="/profile/edit/">プロフィール編集</a>
    </div>

    <div id="profile_inner">

        <div class="profile_left">
            <img src=" {{ profile.profile_image.url }}" alt="">
            <p>{{ profile.name }}</p>
        </div>

        <div class="profile_right">
            <!-- 2列5行の表 -->
<table>
    <tr>
        <td>犬種：</td>
        <td>{{ profile.breed }}</td>
    </tr>
    <tr>
        <td>誕生日：</td>
        <td> {{ profile.birthday }}</td>
    </tr>
    <tr>
        <td>性格：</td>
        <td>{{ profile.personality }}</td>
    </tr>
    <tr>
        <td>アレルギー：</td>
        <td>{{ profile.allergy }}</td>
    </tr>
    <tr>
        <td>備考：</td>
        <td>{{ profile.memo }}</td>
    </tr>
</table>


<!-- 2行1列の表 -->
<table class="profile_table2">

    <tr>
        <td>
            {% if profile.rabies_vaccine_date %}
            <a href="{{ profile.rabies_vaccine_date.url}}" target="_blank">
                狂犬病ワクチン接種証明書
            </a>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>
            {% if profile.mixed_vaccine_date %}
            <a href="{{ profile.mixed_vaccine_date.url}}" target="_blank">
                混合ワクチン接種証明書</a>
            {% endif %}
        </td>
    </tr>

</table>
        </div>

    </div>

</section>
</main>
</body>
</html>