html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a {
    color: #24292E;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #78966F;
}

.button {
    background-color: #F4FFD0;
    color: #24292E;
    padding: 7px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
}

/* マウスを乗せたとき */
.button:hover {
    background-color: rgba(79, 111, 82, 0.8);
    color: white;
}

#top {
    background-color: rgba(104,162,37,0.5);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_inner {
    display: flex;
    justify-content: center;
    align-items: stretch;
}



#top_left,
#top_centaer,
#top_right {
    height: 95px;
    display: flex;
    align-items: flex-end;
}

#top_left {
    height: 100px;
}

#top_centaer {
    width: 400px;
}

#top_right {
    width: 600px;
    justify-content: flex-end;
}

#top_left img {
    height: 100px;
}

#top_centaer img {
    width: 360px;
    height: auto;
}


#bottom {
    background-color: rgba(104,162,37,0.5);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu a:nth-child(1) {
    margin-right: 20px;
}

#menu a:nth-child(2) {
    margin-right: 30px;
}

#menu a:nth-child(3) {
    margin-right: 30px;
}

.button + .button {
    margin-left: 15px;
}


#bottom {
    background-color: rgba(104, 162, 37, 0.5);
    height: 120px;
    position: relative;
}

#bottom p {
    margin: 0;
}

#bottom p:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bottom p:first-child a {
    font-weight: normal;
	font-size: 14px;
}

#bottom p:last-child {
    font-weight: normal;
    font-size: 12px;
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    transform: translateX(-50%);
}