#profile {
    width: 100%;
    margin: 50px 0;
}

.profile_title {
    width: 700px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* ← これを追加 */
}

.profile_title a {
    background-color: rgba(104, 162, 37, 0.5);    /* ボタンの背景色：#68A225を50%透明にする */
    color: white;    /* 文字の色：白 */
    padding: 7px 15px;    /* ボタン内の余白：上下10px・左右25px */
    border-radius: 10px;    /* ボタンの角を丸くする */
    text-decoration: none;    /* リンクの下線を消す */
    font-size: 15px;    /* 文字の大きさ */
}


/* マウスを乗せたとき */
.profile_title a:hover {
    background-color: rgba(79, 111, 82, 0.8);   /* 背景色：#000000にする */
    color: white;    /* 文字の色：白 */
}


.profile_title p {
    margin: 0;
}

h1 {
    font-family: "BIZ UDPGothic", sans-serif;
    font-size: 28px;                         /* 文字の大きさ */
    font-weight: bold;                       /* 太さ */
    color: #4F6F52;
    font-weight: bold;
    margin: 0;
}

#profile_inner {
    display: flex;
    width: 700px;
    margin: 0 auto;
    gap: 50px;
}

.profile_left {
    width: 300px;
}

.profile_left img {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.profile_left p {
    font-family: "BIZ UDPGothic", sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0 0;
    text-align: center;
}

.profile_right {
    width: 350px;
}

/* テーブル全体 */
.profile_right table {
    width: 100%;
    border-collapse: collapse;
}

/* 表のセル */
.profile_right td {
    padding: 10px 20px;
}

/* 1列目の幅を固定 */
.profile_right td:first-child {
    width: 100px;
}

.profile_table2 {
    margin-top: 30px; /* 上の表との間隔 */
}

.profile_table2 td {
    padding: 5px 20px;
}

a {
    /* リンクの下線を消す */
    text-decoration: none;

    /* 通常時の文字色 */
    color: #00770E;
}

/* マウスを乗せたとき */
a:hover {
    /* マウスを乗せたときの文字色 */
    color: #78966F;
}